#slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid blue;
    // padding: 3% 0;
    width: 80%;
    margin: auto;

    .one{
        .sidebyside();
        margin-top: 7%;
        
        p{
            padding-right: 2%; 
        }//end p
    }//end .one

    .two{
        .sidebyside(row-reverse);
        margin-bottom: 7%;

        p{
            padding-left: 2%;
        }//end p
    }//end .two

    p{
        font-family: 'Indie Flower', cursive;
        line-height: 1.5;
        font-size: 1.4rem;
    }//end p

    img{
        width: 40%;
    }//end img
}//end #slogan


//about page
#main{
    width: 80%;
    margin: auto;
    text-align: center;

    img{
        width: 25%;
    }//end img

    p{
        font-size: 1.4rem;
        width: 80%;
        margin: auto;
    }//end p

    .elijah, .raneem, .shanon{
        .sidebyside();
    }

    .robert, .anthony{
        .sidebyside(row-reverse);
    }
}//end #main