#slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid blue;
    // padding: 3% 0;
    width: 80%;
    margin: auto;

    .one{
        .sidebyside();
        margin-top: 7%;
        
        p{
            padding-right: 2%; 
        }//end p
    }//end .one

    .two{
        .sidebyside(row-reverse);
        margin-bottom: 7%;

        p{
            padding-left: 2%;
        }//end p
    }//end .two

    p{
        font-family: 'Indie Flower', cursive;
        line-height: 1.5;
        font-size: 1.4rem;
    }//end p

    img{
        width: 40%;
    }//end img
}//end #slogan

//event index page
#event{
    .sidebyside(column);
    padding-top: 5%;
    padding-bottom: 10%;
    margin-top: 5%;
    .pagebreaktop();
    .pagebreak();

    h2{
        padding: 5% 0;
        font-family: 'Concert One', cursive;
    }//end h2
}//end #event


//about page
#main{
    text-align: center;
    padding: 5% 0;
    .pagebreak();
    font-family: 'Concert One', cursive;

    section{
        width: 80%;
        margin: auto;
        padding: 2% 0;
    }

    img{
        width: 25%;
    }//end img

    h2{
        padding-bottom: 5%;
    }//end h2

    h4{
        padding-top: 2%;
    }//end h4

    p{
        font-family: 'Indie Flower', cursive;
        line-height: 1.5;
        font-size: 1.5rem;
        width: 80%;
        margin: auto;
        padding-top: 2%;
    }//end p

    .elijah, .raneem, .shanon{
        .sidebyside();
    }

    .robert, .anthony{
        .sidebyside(row-reverse);
    }

    .elijah, .robert, .raneem, .anthony{
        .pagebreak();
    }

    .elijah{
        .pagebreaktop();
    }
}//end #main

//contact page
#form{
    form{
        display: flex;
        flex-direction: column;
    }
}

button, input[type=submit]{
    width: 100px;
    background-color: @eggplant;
    padding: 1%;
    color: white;
    border-radius: 10px;
    border: none;
}//end button


//contact page
#contact{
    .sidebyside(column);
    padding-top: 5%;
    padding-bottom: 8%;
    .pagebreak();

    section{
        width: 80%;
        margin-top: 5%; 
        .sidebyside();
        justify-content: space-between;
        align-items: flex-start;

        div{
            text-align: center;
        }//end div
    }//end section
}//end #contact