footer{
    margin-top: 10%;
    padding-top: 1%;
    background-color: @darkteagreen;
    color: @darkspring;
    text-align: center;

    h6{
        font-family: 'Righteous', cursive;
    }//end h6

    .first{
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }//end .first

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a{
            color: @darkeggplant;
        }//end a
    }//end nav

    #nav{
        a{
            padding-top: 6%;
        }//end a
    }//end #nav

    #social{
        h6{
            padding-bottom: 2%;
        }//end h6

        a{
            padding-top: 4%;
        }//end a
    }//end #social

    .copyright{
        padding: 1% 0;
    }
}//end footer