.header{
    border: 1px solid blue;
    margin-bottom: 3%;
    padding: 2% 0;

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;

        nav{
            margin: 0 2%;
        }
    }
}