#header{
    padding-bottom: 3%;
    border-bottom: 2px dashed @eggplant;

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 2% 0;
        margin-bottom: 2%;
        background-color: @darkteagreen;
        color: @darkspring;

        nav{
            width: 350px;
            display: flex;
            justify-content: center;

            a{
                margin: 0 2%;
            }//end a
        }//end nav
    }//end header

    section{
        background: url(/design/picnic3.jpg) no-repeat center;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }//end h2

        p{
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }//end p

        h2, p{
            width: 300px;
            margin: 0 auto;
            text-align: center;
            color: @darkentang;
            .transparent ();
            padding: 1% 0;
            font-family: 'Concert One', cursive;
        }//end h2 & p


        //about page
        .headline{
            border-radius: 15px;
            width: 200px;
            padding: 2% 0;
        }//end .headline

        a{
            color: @darkentang;
        }//end a
    }//end section
}//end #header