@teagreen: #C6D8AF;
@palespringbud: #DBD8B3;
@apricot: #FCC8B2;
@vividtangerine: #EFA48B;
@eggplant: #6e3e70;
@darkentang: darken(@vividtangerine, 30%);
@darkeggplant: darken(@eggplant, 15%);
@darkteagreen: darken(@teagreen, 30%);
@darkspring: darken(@palespringbud, 10%);
@darkapricot: darken(@apricot, 5%);
@phone: ~"(max-width:500px)";
@tablet: ~"(max-width:850px)";